<!DOCTYPE html>
<html lang="zh_CN">

<head>
  <title>播放器</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="./public/chat/css/style.css" rel="stylesheet">
</head>

<body>
  <div id="app"></div>
  <script src="./public/js/web_socket.js"></script>
  <script src="./public/js/superagent.js"></script>
  <script src="./public/js/react.js"></script>
  <script src="./public/js/react-dom.js"></script>
  <script>
    var vurl = 'http://app.cjyun.org/video/player/index?vid=12&thumb=&sid=10076&next=&autoStart=0&type=stream'
    var ht = '{{$ht}}'
  </script>
<script src="./public/js/socket.io-1.4.5.js"></script>
<script src="./public/chat/js/chat.js"></script>
  <script src="./public/chat/js/app.js"></script>
</body>

</html>