<!DOCTYPE html>
<html lang="zh_CN">

<head>
	<title>{{title}}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="./public/chat/css/style.css" rel="stylesheet">
</head>

<body>
	<div id="app"></div>
	<script src="./public/js/web_socket.js"></script>
	<script src="./public/js/superagent.js"></script>
	<script src="./public/js/react.js"></script>
	<script src="./public/js/react-dom.js"></script>
	<script>
    var vurl = '{{vurl}}'
    var ht = '{{ht}}'
	var poster = '{{poster}}'
	var autoplay = true
  </script>
	<script src="./public/js/socket.io-1.4.5.js"></script>
	<script src="./public/chat/js/chat.js"></script>
	<script src="./public/chat/js/app.js"></script>
</body>

</html>